.App {
  text-align: center;
  background-image: url('./body.jpg');
  background-size: cover;
}

.photos {
  background-image: 'body.jpg';
  background-size: cover;
  min-width: 180px;
  min-height: 180px;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: rgba(0, 0, 0, .3);
  max-height: 10vh;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  padding: 30px;
  position: fixed;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 10;
  padding: 15px;
}

.rovers {
  display: flex;
  flex-direction: column;
}

.curiosity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}

.Opportunity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}

.Spirit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}

.text {
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 500;
  color: rgb(139, 125, 79);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.App-link {
  color: #61dafb;
}

@media (max-width:450px) {
  .photos {
    display: none;
  }
  .App-header {
    font-size: 10px;
    padding: 10px;
    margin-left: 35px;
  }
  .headerContainer {
    margin: 5px;
  }
  .curiosity {
    flex-direction: column;
    padding-bottom: -70px;
  }
  .Opportunity {
    flex-direction: column;
    padding-bottom: -70px;
  }
  .Spirit {
    flex-direction: column;
    padding-bottom: -70px;
  }
  .text {
    margin-top: 35px;
    padding-left: 5px;
    padding-right: 5px;
    font-style: italic;
  }
  .buttons {
    justify-content: center;
  }
}